body{
  font-size: 12px;
}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.25);
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header * {
  margin: 0;
}
